/**
 * CONTENTS
 *
 * BASE
 * Común..................Estilo H1, H2.
 *
 * COMPONENTS
 * Header.................Sección header.
 * Footer.................Sección footer.
 * Home...................Página de inicio
 */


body {
  background-image: linear-gradient(180deg, #f2b862 0, rgba(242, 184, 98, 0) 320px), linear-gradient(0deg, #fffaf4 50%, #fffaf4);
  background-repeat: no-repeat;
  color: $uf-corporate;
  margin: 0;
  padding: 0;
}

.inicio {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.home {
  background-color: #ccc;
  background-image: url('/assets/images/fondo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  z-index: 1;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px 15px 70px;
}

.content h2 {
  margin: 40px 0;
}

h1 {
  padding: 30px 0;
  text-align: center;
}

h2 {
  text-align: center;
}


.map-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
}

.map-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



/*------------------------------------*\
  #SECTION-HOME
\*------------------------------------*/

.home button {
  border: 0;
  bottom: 1em;
  font-size: 100%;
  left: 1em;
  padding: 1em 2em;
  position: absolute;
  text-transform: uppercase;
}

.home h1 {
  color: #dcdcdc;
  font-size: 4.5rem;
  text-shadow: 4px 2px #999;
}

.home h2 {
  color: #6b6565;
  font-size: 3.5rem;
  text-shadow: 3px -1px #fff;
}

// Grid layout for wide display
@supports (display:grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    .home {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100px 1fr 1fr 1fr;
      padding: 0;
    }

    .home h1 {
      grid-column: 2/2;
      grid-row: 3/3;
      margin-bottom: initial;
      z-index: 2;
    }

    .home h2 {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      margin-top: initial;
    }

    .home button {
      grid-column: 3 / 3;
      grid-row: 4 / 4;
    }
  }
}

@media (max-width: 42em) {
  .home {
    min-height: 550px;
  }
  
  .home h1 {
    padding-top: 165px;
    font-size: 3.5rem;
  }
  
  .home h2 {
    font-size: 2.5rem;
  }
}





/*------------------------------------*\
  #SECTION-BANDS
\*------------------------------------*/

.grupo__informacion {
  @include flex;
}

.grupo__informacion {
  margin: 40px 0;
  text-align: left;
}

.grupo__informacion p {
  margin: 0;
}

.grupo-datos {
  margin: 15px;
}

.grupo__texto {
  max-width: 320px;
}

.grupo__informacion h2 {
  font-size: 28px;
  margin: 10px 0;
  text-align: center;
}

.grupo__informacion h3 {
  font-size: 22px;
  text-align: center;
}




/*------------------------------------*\
  #SECTION-FOOTER
\*------------------------------------*/
.footer__contenido2 {
  padding: 40px 0;
  text-align: center;
}

.footer__contenido2 a {
  color: $uf-corporate;
}

.footer__contenido2 a:hover {
  color: #639;
}

.footer__contenido1 {
  background-color: #e6e6fa;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.purple-gradient {
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
}

.footer-form {
  margin: 0 auto;
  max-width: 500px;
}

.footer-title {
  font-size: 30px;
  letter-spacing: 2px;
}

